<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Nav 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nav 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nav 3</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0 x-btn-offset">
    <a href="#"><img class="group-1" src="/assets/header/group-1/group-1.svg"
        alt="xsymbol"></a>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item-right">
        <a class="nav-link" href="#"><span class="login-name">Welcome Christy</span>
          <img class="path-5031"
            src="/assets/header/path-5031/path-5031.svg" alt="Down Arrow"></a>
      </li>
    </ul>
  </div>
</nav>